body {
  background-color: #F7F7F7;
  font-family: "Helvetica";
}


h1, h2, h3 {
  color: #203562;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  text-align: center;
  color: #5f5f5f;
}

a {
  text-decoration: none;
  color: #3E588F;
  font-family: "Helvetica", sans-serif;
}

a:hover {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.card {
  background-color: white;
  width: 500px;
  position: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px grey;
  padding-bottom: 10px;
  margin: 0 auto;
}

#profile-pic {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 6px solid #F7F7F7;
  box-shadow: 1px 1px 3px grey;
}

.table-image {
  width: 300px;
  border-radius: 2px;
  display: table-cell;
  margin: 5px 5px 5px 10px;
}

.restaurants {
  text-align: center;
}

.list-inline {
  display: inline-block;
}

ul {
  margin: 0 auto;
}
