#sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #3f3f3f;
}

body {
  background-color: #F7F7F7;
  font-family: "Helvetica";
}


h1, h2, h3, h4 {
  color: #203562;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 10px;
}

h4 {
  color: black;
  border-bottom: 1px solid black;
  margin: 2px;
}

p {
  text-align: center;
  color: #706f6f;
}

a {
  text-decoration: none;
  color: #1e4fb2;
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
}

a:hover {
  color: red;
}

.card {
  background-color: white;
  width: 500px;
  position: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #e2e0e0;
  padding-bottom: 10px;
  margin: 0 auto;
}

#profile-pic {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 6px solid #F7F7F7;
  box-shadow: 1px 1px 3px #e2e0e0;
}

.table-image {
  width: 300px;
  border-radius: 2px;
  display: table-cell;
  margin: 5px 5px 5px 10px;
}

.restaurants {
  text-align: center;
}

ul {
  text-align: center;
}

li {
  text-decoration: none;
  display: inline-block;
}

#social {
  padding: 20px;
}

.nav {
  color: white;
  font-size: 40px;
  padding: 40px;
}

#middle {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
